{% set pageType = 'about' %}
{% extends "base-template.twig" %}
{% block title %}{{ "About Y" | trans}} - {{ GlobalConfig.serviceName }}{% endblock %}
{% block description %}{{ GlobalConfig.aboutDescription(request.lang) }}{% endblock %}
{% block url %}{{ BaseHref }}{{ request.langurl }}{% endblock %}

{% block content %}

<div class="container">
  <div class="mx-5">
    <div class="px-3 pb-3 bg-light">
      <h1 class="fs-3 mb-5">{{"About 5" | trans }}</h1>
      <p class="fs-6">
      {% include 'about-info.inc.twig' %}
      </p>
    </div>

    <div id="version">
      {% set version = request.version %}
      <p>{% trans %}Skosmos version %version%{% endtrans %}</p>
    </div>
  </div>
</div>
{% endblock %}
