<!DOCTYPE html>
<html dir="ltr" lang="{{ request.lang }}">
<head>
<base href="{{ BaseHref }}">
<link rel="shortcut icon" href="favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="generator" content="Skosmos {{ request.version }}" />
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="resource/css/fonts.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="resource/css/skosmos.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="resource/fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="resource/fontawesome/css/solid.css" rel="stylesheet">
<link href="resource/fontawesome/css/regular.css" rel="stylesheet">
{% if ServiceCustomCss %}
<link href="{{ ServiceCustomCss }}" media="screen, print" rel="stylesheet" type="text/css">
{% endif %}
{% for plugin, files in request.plugins.pluginsCSS %}{% for file in files %}<link href="{{ file }}" media="screen, print" rel="stylesheet" type="text/css">{% endfor %}{% endfor %}

<title>{{ ServiceName }}{% block title %}{% endblock %}</title>
</head>
<body{% if request.vocabid == '' and request.page != 'feedback' and request.page != 'about' and request.page != 'search' %} class="bg-light frontpage-logo"{% else %} class="bg-medium vocab-{{ request.vocabid }}"{% endif %}>
  <noscript>
    <strong>We're sorry but Skosmos doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <a class="visually-hidden" id="skiptocontent" href="{{ request.langurl }}#maincontent">Skip to main</a>
  <header>
    <div class="container-fluid bg-dark d-flex my-auto py-3 px-4 text-bg-dark">
      <span class="fs-6 py-3 text-light">Yhteishaku sanastoista v</span>
      <ul class="nav nav-pills ms-auto my-auto text-light gx-3 py-3" id="topbar-nav">
        <li class="nav-item">
          <a href="{{ request.lang }}/{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi1" class="fs-6 text-light topbar-nav-link ms-3 text-decoration-none" >
                   {{ "Vocabularies" | trans }}
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ request.lang }}/about{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi2" class="fs-6 text-light topbar-nav-link ms-3 text-decoration-none">
                   {{ "About" | trans }}
          </a>
        </li>
        <li class="nav-item">
          <a href="{% if request.vocabid and vocab.title%}{{ request.vocabid }}/{% endif %}{{ request.lang }}/feedback{% if request.contentLang and request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}{% if request.queryParam('anylang') == 'on' %}{% if request.contentLang == request.lang %}?{% else %}&{% endif %}anylang=on{% endif %}" id="navi3" class="fs-6 text-light topbar-nav-link ms-3 text-decoration-none">
                   {{ "Feedback" | trans }}
          </a>
        </li>
        {% if languages|length > 1 %}
        {% for langcode, langdata in languages %}
        {% if request.lang != langcode %}
        <li class="nav-item" id="language">
          <a class="fs-6 text-light ms-3 text-decoration-none" id="language-{{ langcode}}" href="{{ request.langurl(langcode) }}"> {{ langdata.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div class="container-fluid d-flex bg-light py-4 px-4" id="headerbar">
      {% if request.vocabid == '' %}
      <h2 class="fs-1 fw-bold text-decoration-none">Skosmos<h2>
      {% else %}
      <h2 class="fs-2 fw-bold text-decoration-none" id="vocab-title"><a class="text-decoration-none" href="{% if request.vocabid != '' %}{{ request.vocabid  }}/{% endif %}{{ request.lang }}/{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{{ request.vocab.title(request.contentLang) }}</a></h2>
      {% endif %}
    </div>
  </header>
  <main id="main-container" class="{% if request.vocabid == '' or global_search %} frontpage{% elseif concept_uri != '' %} termpage{% elseif request.vocab != '' %} vocabpage{% if list_style %} {{ list_style }}{% endif %}{% endif %}">
    <div class="container">
      <div class="row" tabindex="-1">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </main>
  <footer class="container bg-light pb-5">
    <div class="row py-5">
      <div class="col-md-7 pe-5">
        <p class="fs-5">
                  Skosmos is a web-based tool providing services for accessing controlled vocabularies,
                  which are used by indexers describing documents and searchers looking
                  for suitable keywords. Vocabularies are accessed via SPARQL endpoints containing SKOS vocabularies.
        </p>
      </div>
      <div class="col-md-5 ps-5">
        <span class="fs-5 fw-bold">{{ "Contact us!" | trans }}</span>
        <p class="fs-5">Yhteystiedot?<p>
      </div>
    </div>
  </footer>
  {% include "scripts.inc" %}
</body>
</html>
