{% extends "base-template.twig" %}

{% block title %}: "Feedback"{% endblock %}
{% block content %}

  {% if feedback_sent %}
    <h1>{{ 'Feedback has been sent!' | trans }}</h1>
    <p id="feedback-thanks">{{ 'Thank you for your feedback' | trans }}</p>
  {% else %}

    <h1 class="fs-3 mb-5">{{ 'Contact us!' | trans}}</h1>
    <p class="fs-5 mb-5">{{ 'feedback_enter_name_email' | trans }}</p>
    
    <form id="feedback-form" method="post" action="{% if request.vocab %}{{request.vocab.id}}/{% endif %}{{ request.lang }}/feedback">
      <div class="mb-4">
        <label class="form-label" for="vocab-select">{{ 'Vocabulary' | trans }}</label>
        <div class="select-wrapper">
          <select class="form-select" id="vocab-select" name="vocab">
            <option value="" {% if not request.vocab %}selected{% endif %}>{{ 'Not to a specific vocabulary' | trans }}</option>
            {% for option in vocabList %}
              <option value="{{ option.id }}" {% if request.vocab.id == option.id %}selected{% endif %}>{{ option.title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label for="name-input" class="form-label">{{ 'Name' | trans }}</label>
        <input type="text" class="form-control" id="name-input" name="name" placeholder="{{ 'Enter your name' | trans }}">
      </div>
      <div class="mb-4">
        <label for="email-input" class="form-label">{{ 'E-mail' | trans }}</label>
        <input type="email" class="form-control" id="email-input" name="email" placeholder="{{ 'Enter your e-mail address' | trans }}">
      </div>
      <div class="mb-4">
        <label for="subject-input" class="form-label">{{ 'Subject' | trans }}*</label>
        <input type="text" class="form-control" id="subject-input" name="msgsubject" placeholder="{{ 'Write a subject' | trans }}" required>
      </div>
      <div>
        <label for="message-input" class="form-label">{{ 'Message' | trans }}*</label>
        <textarea class="form-control" id="message-input" rows="5" name="message" required></textarea>
      </div>

      <div>
        <span>* {{ 'Value is required and can not be empty' | trans }}</span>
        {{ honeypot.generate('item-description', 'user-captcha')|raw }}
        <button type="submit" class="btn btn-primary" id="submit-feedback">{{ 'Send feedback' | trans }}</button>
      </div>
    </form>
  {% endif -%}
  
{% endblock %}
