{% set pageType = 'landing' %}
{% extends "base-template.twig" %}
{% block title %}{{ GlobalConfig.serviceNameLong(request.lang) }}{% endblock %}
{% block description %}{{ GlobalConfig.serviceDescription(request.lang) }}{% endblock %}
{% block url %}{{ BaseHref }}{{ request.langurl }}{% endblock %}

{% block content %}
<div id="landing-top-slot">
  {{ include('custom-templates.inc.twig', {slotName: 'landing-top'}) }}
</div>

<div class="col-lg-7 mb-gutterwidth mb-lg-0">
  <div class="px-3 py-4 bg-medium" id="vocabulary-list">
    {% if request.vocabList|length == 0 %}
    <h2 class="fs-3 fw-bold">{{ "No vocabularies on the server!" | trans }}</h2>
    {% else %}
      {% if category_label %}
      <h2 class="fs-3 fw-bold pb-3">{{ category_label }}</h2>
      {% else %}
      <h2 class="fs-3 fw-bold pb-3">{{ "Vocabularies" | trans }}</h2>
      {% endif %}
      {% for vocabClassName,vocabArray in request.vocabList %}
      <div class="vocab-category border-top pb-4">
        <h3 class="fs-4 pt-2">{{ vocabClassName }}</h3>
        <ul class="list-group">
        {% for vocab in vocabArray %}
          <li class="list-group-item ps-0 py-1"><a class="fs-5 fw-bold" href="{{ '' | global_url(request.lang, request.contentLang, vocab.id, request.queryParam('anylang') == 'on')}}">{{ vocab.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <div id="landing-start-slot">
    {{ include('custom-templates.inc.twig', {slotName: 'landing-start'}) }}
  </div>
</div>
<div class="col-lg-5 d-flex flex-column">
  <div id="landing-end-slot">
  {{ include('custom-templates.inc.twig', {slotName: 'landing-end'}) }}
  </div>
</div>

<div id="landing-bottom-slot"></div>
  {{ include('custom-templates.inc.twig', {slotName: 'landing-bottom'}) }}
{% endblock %}

