{% extends "light.twig" %}
{% block title %}: {{ vocab.title(request.contentLang) }}{% endblock %}

{% block sidebar %}
<div class="sidebar-buttons">
  <ul class="nav nav-tabs{% if vocab.showChangeList and vocab.groupClassURI %} nav-four-wide{% endif %}">
    <li id="alpha"><a href="{{ request.vocabid }}/{{ request.lang }}/index{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% if vocab.showChangeList and vocab.groupClassURI %}{% trans 'A-Z' %}{% else %}{% trans "Alpha-nav" %}{% endif %}</a></li>
    <li id="hierarchy{% if not vocab.showHierarchy %}-disabled{% endif %}"{% if active_tab == 'hierarchy' %} class="active"{% endif %}><a href="#" id="hier-trigger"{% if not vocab.showHierarchy %} title="{% trans 'hierarchy-disabled-help' %}"{% endif %}>{% trans "Hier-nav" %}</a></li>
    {% if vocab.groupClassURI %}
    <li id="groups"><a href="{{ request.vocabid }}/{{ request.lang }}/groups{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Group-nav" %}</a></li>
    {% endif %}
    {% if vocab.showChangeList %}
    <li id="changes" class="active"><a href="{{ request.vocabid }}/{{ request.lang }}/new{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Changes-nav" %}</a></li>
    {% endif %}
  </ul>
</div>
<div class="sidebar-grey">
  <div class="group-container">
    <ul class="change-list side-navi">
      {% for day,concepts in changeList %}
        <span class="versal versal-bold">{{day}}</span>
        {% for concept in concepts %}
          <li><a href="{{ concept.uri | link_url(vocab,request.lang,'page', request.contentLang) }}">{{ concept.prefLabel }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  {% include "vocab-shared.twig" %}
{% endblock %}
