{% extends "light.twig" %}
{% block title %}: {{ vocab.title(request.contentLang) }}{% endblock %}

{% block sidebar %}
<div class="sidebar-buttons">
  <ul class="nav nav-tabs{% if vocab.showChangeList %} nav-four-wide{% endif %}">
    <li id="alpha"><a href="{{ request.vocabid }}/{{ request.lang }}/index{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% if vocab.showChangeList %}A-Z{% else %}{% trans "Alpha-nav" %}{% endif %}</a></li>
    {% if vocab.showHierarchy %}
    <li id="hierarchy"><a href="#" id="hier-trigger">{% trans "Hier-nav" %}</a></li>
    {% endif %}
    {% if vocab.groupClassURI %}
    <li id="groups"><a href="{{ request.vocabid }}/{{ request.lang }}/groups{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Group-nav" %}</a></li>
    {% else %}
    {% endif %}
    {% if vocab.showChangeList %}
    <li id="changes" class="active"><a href="{{ request.vocabid }}/{{ request.lang }}/changes{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Changes-nav" %}</a></li>
    {% endif %}
  </ul>
</div>

<div class="sidebar-grey">
  <div class="group-container">
    <ul class="change-list">
      <p class="versal-bold">{% trans "New and modified concepts" %}:</p>
      {% for day,concepts in changeList %}
        <span class="versal versal-bold">{{day}}</span>
        {% for concept in concepts %}
          <li><a href="{{ concept.uri | link_url(vocab,request.lang,'page') }}">{{ concept.prefLabel }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  {% include "vocab-shared.twig" %}
{% endblock %}
