{% if lang_changed %}
<div class="alert alert-danger">
  <h2>{{ lang_changed }}</h2>
</div>
{% endif %}
{% if vocab.title != null or search_results != null %}
  {% if search_results %}
    {% if search_results|length > 1 %}
    <div class="search-count"><p>{{ search_count }} {% trans 'results' %}</p></div>
    {% endif %}
      {% for concept in search_results %} {# loop through the hits #}
      {% if concept.deprecated %}
      <div class="alert alert-danger">
        <h2 class="deprecated-alert">{% trans %}deprecated{% endtrans %}</h2>
      </div>
      {% endif %}
      <div class="concept-info{% if concept.deprecated %} deprecated-concept{% endif %}">
        <div class="concept-main">
        {% if bread_crumbs is defined %}
          {% for path in bread_crumbs %}
          {% if path|length > 1 %}
            {% set crumbId = loop.index %}
              <div class="crumb-path">
              {% for crumb in path %}
              {% if not loop.last %}<a class="propertyvalue bread-crumb{% if crumb.hiddenLabel %} expand-crumbs{% endif %}" href="{{ crumb.uri|link_url(vocab,lang) }}">{{ crumb.prefLabel }}</a><span class="bread-crumb"> > </span>
              {% else %}<span class="bread-crumb propertylabel-pink">{{ crumb.prefLabel }}</span>
              {% endif %}
              {% if crumb.hiddenLabel %}
                {% for hiddenPath in combined %}
                  {% if crumbId == loop.index %}
                    {% for hiddenCrumb in hiddenPath %}
                    <a class="propertyvalue hidden-breadcrumb" href="{{ hiddenCrumb.uri|link_url(vocab,lang) }}">{{ hiddenCrumb.hiddenLabel }}</a><span class="hidden-breadcrumb"> > </span>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% spaceless %}
        <table class=" table search-results-property-table{% if concept.type == 'skosext:DeprecatedConcept' %} deprecated{% endif %}"><tr class="preflabel-container">
        <td class="preflabel-desc">
          <span class="versal">{{ 'skos:prefLabel'|trans|upper }}</span>
          {% if concept.foundBy %} {# hit has been found through an alternative label #}
          <span class="versal">{{ concept.foundBy }} >></span>
          {% if concept.ExVocab is defined %}
          <span class="prefLabel conceptlabel redirected-vocab-id"> @{{ concept.ExVocab }}</span>
          {% endif %}
          <br /><a class="prefLabel foundby" href="{{ concept.uri | link_url(concept.vocab,lang) }}">{{ concept.label }}</a></span>
        </td>
        {% else %}
        <td>
        <span class="prefLabel
          {% if lang_count is not defined and rest != 1 %}">{{ concept.label }}</span>{% if explicit_langcodes %}<span class="prefLabelLang"> ({{ concept.lang }})</span>{% endif %}{% else %}"></span>
          <a class="prefLabel conceptlabel" href="{% if concept.type == "skos:Collection" %}{{ concept.uri | link_url(concept.vocab, lang, 'groups') }}{% elseif concept.exvocab is defined%}{{ concept.uri | link_url(concept.exvocab,concept.lang) }}{% else %}{{ concept.uri | link_url(concept.vocab,concept.lang) }}{% endif %}">{{ concept.label }}</a>
          {% endif %}
        </td>
        {% endif %}
        </tr>
        <tr><td class="preflabel-spacer" colspan="2"></td></tr>
        {% endspaceless %}
        {% for property in concept.properties %} {# loop through ConceptProperty objects #}
          <tr{% if property.type == 'dc:isReplacedBy' %} class="replaced-by"{% endif%}><td><span class="versal{% if property.type == 'rdf:type' %}-bold{% endif %}{% if not (property.type in property.description and '_help' in property.description) %} property-click" title="{{ property.description }}"{% else %}"{% endif %}>{{ property.label|upper }}</span></td><td><ul>
          {% for propval in property.values %} {# loop through ConceptPropertyValue objects #}
              <li>
              {% if propval.uri and propval.type != 'rdf:type' %} {# resources with URI #}
                {% if propval.label %}
                  {% if propval.exvocab and propval.exvocab != propval.vocab %}{# if the property is located in a another vocabulary #}
                  <a class="versal" href="{% if propval.type == "skosmos:memberOf" %}{{ propval.uri | link_url(propval.vocab, lang, 'groups') }}{% else %}{{ propval.uri | link_url(propval.vocab, propval.lang) }}{% endif %}">{{ propval.label }}</a>
                  {% else %}
                  <a class="versal" href="{% if propval.type == "skosmos:memberOf" %}{{ propval.uri | link_url(propval.vocab, lang, 'groups') }}{% else %}{{ propval.uri | link_url(propval.vocab, propval.lang) }}{% endif %}">{{ propval.label|trans }}</a>
                    {% if propval.lang and propval.lang != '' and (propval.lang != lang or explicit_langcodes) %}<span class="versal"> ({{ propval.lang }})</span>{% endif %}
                  {% endif %}
                  {% if propval.SubMembers %}<div class="subvalue"> {# if property is a group concept that has sub properties #}
                    {% for sub_member in propval.SubMembers %}
                      <a class="propertyvalue" href="{{ sub_member.uri | link_url(propval.vocab,lang) }}">{{ sub_member.label }}</a>
                      {% if sub_member.lang and (sub_member.lang != lang) or explicit_langcodes %}<span class="propertyvalue"> ({{ sub_member.lang }})</span>{% endif %}
                      <br />
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}
              {% elseif property.type == 'rdf:type' %}<p>{{ propval.label|trans }}</p>
              {% else %} {# Literals (no URI), eg. alternative labels as properties #}
                <p{% if property.type == 'skos:altLabel' %} class="replaced"{% endif %}>{{ propval.label }} {% if propval.lang and (propval.lang != lang) or explicit_langcodes %}({{ propval.lang }}){% endif %}</p>
              {% endif %}
              </li>
          {% endfor %}
          </ul></td></tr>
        {% endfor %}
        {% if concept.foreignLabels %}<tr><td><span class="versal property-click" title="{% trans "foreign prefLabel help" %}" >{{ 'foreign prefLabels'|trans|upper }}</span></td><td class="empty"></td>
            {% set prevlang = '' %}{# Only displaying the language when it appears for the very first time #}
            {% for lang,labels in concept.foreignLabels %}
              {% for value in labels %}
                <tr class="other-languages{% if prevlang != lang %} first-of-language{% endif %}"><td class="versal">{% if prevlang != lang %}<p>{{ lang|trans }}</p>{% endif %}</td><td class="versal{% if value.type == "skos:altLabel" %} replaced{%else %} versal-pref{% endif %}">{{ value.label }}</td></tr>
                {% set prevlang = lang %}
              {% endfor %}
            {% endfor %}
        {% endif %}
          <tr><td><span class="versal">URI</span></td>
          <td><span class="versal uri-input-box">{{ concept.uri }}</span></tr>
          <tr><td><span class="versal">{% trans %}Download this concept in SKOS format:{% endtrans %}

          </span></td><td><span class="versal"><a href="{{ path_fix }}rest/v1/{% if concept.vocab != "" %}{{ concept.vocab }}{% else %}{{ vocab.id }}{% endif %}/data?uri={{ concept.uri|url_encode }}&amp;format=application/rdf%2Bxml">RDF/XML</a>
            <a href="{{ path_fix }}rest/v1/{% if concept.vocab != "" %}{{ concept.vocab }}{% else %}{{ vocab.id }}{% endif %}/data?uri={{ concept.uri|url_encode }}&amp;format=text/turtle">
              TURTLE</a>
          </span></td></tr>
        </table>
        </div>
        {% set appendixProperties = concept.mappingProperties %}
        {% if appendixProperties %}
        <div class="concept-appendix">
          <table class="table search-results-property-table {% if concept.type == 'skosext:DeprecatedConcept' %} deprecated{% endif %}">
          {% for property in appendixProperties %} {# loop through ConceptProperty objects #}
            <tr><td><span class="versal property-click" title="{{ property.description }}">{{ property.label|upper }}</span></td><td>
            <table class="table appendix-values">
            {% for propval in property.values %} {# loop through ConceptPropertyValue objects #}
              {% if propval.uri %} {# resources with URI #}
                {% if propval.label %}
                  <tr>
                  <td>
                <a class="versal" href="{{ propval.uri | link_url(propval.exvocab, propval.lang) }}">{{ propval.label }}</a> 
                  {% if propval.lang and (propval.lang != lang) or (explicit_langcodes and propval.lang) %}<span class="propertyvalue"> ({{ propval.lang }})</span>{% endif %}
                  </td>
                  <td>
                  {% if propval.vocabname %}
                  <p class="appendix-vocab-label">{{ propval.vocabname }}</p>
                  {% endif %}
                  </td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
            </table>
            </td></tr>
          {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      {% endfor %}

  {% else %}
  <div class="alert alert-danger">
    <h4>{% trans %}Error: term "{{ term }}" not found in vocabulary!{% endtrans %}</h4>
  </div>
  {% endif %}
{% else %}
  <div class="alert alert-danger">
    <h4>{% trans %}Error: Requested vocabulary "{{ vocab_id }}" not found!{% endtrans %}</h4>
  </div>
{% endif %}
