{% if vocab.title != null or search_results != null %}
  {% if search_results %}
    {% for concept in search_results %} {# loop through the hits #}
    <h2 class="sr-only">{% trans "Concept information" %}</h2>
    {% if concept.deprecated %}
    <div class="alert alert-danger">
      <p class="deprecated-alert">{% trans %}deprecated{% endtrans %}</p>
    </div>
    {% endif %}
    {% if concept.label.lang != request.contentLang %}
    <div class="alert alert-lang">
      <p class="language-alert">{% trans %}There is no term for this concept in this language{% endtrans %}</p>
    </div>
    {% endif %}
    <div class="concept-info{% if concept.deprecated %} deprecated-concept{% endif %}">
      <div class="concept-main">
      {% if bread_crumbs is defined %}
        <div class="row">
        {% for path in bread_crumbs %}
        {% if path|length > 1 %}
          {% set crumbId = loop.index %}
            <div class="crumb-path">
            {% for crumb in path %}
            {% if not loop.last %}<a class="propertyvalue bread-crumb{% if crumb.hiddenLabel %} expand-crumbs{% endif %}" href="{{ crumb.uri|link_url(vocab,request.lang,'page',request.contentLang) }}">{{ crumb.prefLabel }}</a><span class="bread-crumb"> > </span>
            {% else %}<span class="bread-crumb propertylabel-pink">{{ crumb.prefLabel }}</span>
            {% endif %}
            {% if crumb.hiddenLabel %}
              {% for hiddenPath in combined %}
                {% if crumbId == loop.index %}
                  {% for hiddenCrumb in hiddenPath %}
                  <a class="propertyvalue hidden-breadcrumb" href="{{ hiddenCrumb.uri|link_url(vocab,request.lang,'page',request.contentLang) }}">{{ hiddenCrumb.hiddenLabel }}</a><span class="hidden-breadcrumb"> > </span>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
      {% spaceless %}
      <div class="row{% if concept.type == 'skosext:DeprecatedConcept' %} deprecated{% endif %} property prop-preflabel">
        <div class="property-label property-label-pref">
          <h3 class="versal">{% set subPrefLabelTranslation = concept.preferredSubpropertyLabelTranslation(request.lang) %}{% if subPrefLabelTranslation %}{{ subPrefLabelTranslation|upper }}{% else %}{{ 'skos:prefLabel'|trans|upper }}{% endif %}</h3>
        </div>
        {% if concept.foundBy %} {# hit has been found through an alternative label #}
        <span class="versal">{{ concept.foundBy }} >></span>
        {% if concept.ExVocab is defined %}
        <span class="prefLabel conceptlabel redirected-vocab-id"> @{{ concept.ExVocab }}</span>
        {% endif %}
      </div>
      {% else %}
      <div class="property-value-column">
        {% apply spaceless %}
        {% if concept.notation %}<span class="notation" id="notation">{{ concept.notation }}</span>{% endif %}
        {% if concept.hasXlLabel %}
        <span class="reified-property-value xl-pref-label">
          <img src="resource/pics/about.png">
        </span>
        <div class="reified-tooltip">
          {% for key, val in concept.xlLabel.properties %}
            {% if key != 'rdf:type' and key != 'skosxl:literalForm' %}
            <p>{{ key|trans }}:
              <span class="versal">{{ val }}</span>
            </p>
            {% endif %}
          {% endfor %}
        </div>
        <span class="prefLabel" id="pref-label">{{ concept.xlLabel }}</span>
        {% else %}
        <span class="prefLabel conceptlabel" id="pref-label">{{ concept.label }}</span>
        {% if concept.label.lang != request.contentLang and concept.label.lang != '' %}
        <span class="prefLabelLang"> ({{ concept.label.lang }})</span>
        {% endif %}
        {% endif %}
        &nbsp;
        <button type="button" data-toggle="tooltip" data-placement="button" title="Copy to clipboard" class="btn btn-default btn-xs copy-clipboard"
          for="#{% if concept.notation %}notation{% else %}pref-label{% endif %}">
          <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
        </button>
        {% endapply %}
        </div>
      {% endif %}
        <div class="col-md-12"><div class="preflabel-spacer"></div></div>
      </div>
      {% endspaceless %}
      {% for property in concept.properties %} {# loop through ConceptProperty objects #}
        {% if property.getSubPropertyOf != 'skos:hiddenLabel' %}
        <div class="row{% if property.type == 'dc:isReplacedBy' %} replaced-by{% endif%} property prop-{{property.ID}}">
          <div class="property-label">
            <h3 class="versal{% if property.type == 'rdf:type' %}-bold{% endif %}{% if property.description %} property-click" title="{{ property.description }}{% endif %}">{{ property.label|upper }}</h3>
          </div>
          <div class="property-value-column"><div class="property-value-wrapper">
        {% if request.vocab.config.hasMultiLingualProperty(property.type) %}
          {% set prevlang = '' %}{# Only displaying the language when it appears for the very first time #}
          {% for language,labels in concept.allLabels(property.type) %}
            {% for value in labels %}
            <div class="row other-languages{% if prevlang != language %} first-of-language{% endif %}"><span class="versal col-xs-6{% if value.type == "skos:altLabel" %} replaced{% endif %}">{{ value.label }}</span><span class="versal col-xs-6">{% if prevlang != language %} {{ language }}{% endif %}</span></div>
            {% set prevlang = language %}
            {% endfor %}
          {% endfor %}
        {% else %}
        <ul>
        {% for propval in property.values %} {# loop through ConceptPropertyValue objects #}
            <li>
            {% if propval.uri and propval.type != 'rdf:type' %} {# resources with URI #}
              {% if propval.label %}
                {% if propval.isExternal %}
                <a href="{{ propval.uri | link_url(propval.exvocab, request.lang, 'page', request.contentLang) }}">{{ propval.label }}</a>{% if propval.exvocab %} ({{ propval.vocabname }}){% endif %}
                {% else %}
                {% if propval.isReified %} {# e.g. skos:definition's with resource values #}
                <span class="versal reified-property-value"><img src="resource/pics/about.png">{% if propval.notation %}<span class="versal">{{ propval.notation }} </span>{% endif %} {{ propval.label(request.contentLang) }}</span>
                <div class="reified-tooltip">{% for key, val in propval.reifiedPropertyValues %}<p>{{ key }}: <a href="{{ val.uri | link_url(val.exvocab, request.lang, 'page', request.contentLang) }}">{{ val.label(request.contentLang) }}</a></p>{% endfor %}</div>
                {% else %}
                    <a href="{{ propval.uri | link_url(propval.vocab, request.lang, 'page', request.contentLang) }}">{% if propval.notation %}<span class="versal">{{ propval.notation }} </span>{% endif %} {{ propval.label(request.contentLang) }}</a>
                {% endif %}
                {% endif %}
                {% if propval.label.lang and (propval.label.lang != request.contentLang or explicit_langcodes) %}<span class="versal"> ({{ propval.label(request.contentLang).lang }})</span>{% endif %}
                {% if propval.SubMembers %}<div class="subvalue"> {# if property is a group concept that has sub properties #}
                  {% for sub_member in propval.SubMembers %}
                    <a class="propertyvalue" href="{{ sub_member.uri | link_url(propval.vocab,request.lang) }}">{{ sub_member.label(request.contentLang) }}</a>
                    {% if sub_member.lang and (sub_member.lang != request.lang or explicit_langcodes) %}<span class="propertyvalue"> ({{ sub_member.lang }})</span>{% endif %}
                    <br />
                  {% endfor %}
                  </div>
                {% endif %}
              {% endif %}
            {% elseif property.type == 'rdf:type' %}<p>{{ propval.label|trans }}</p>
            {% else %} {# Literals (no URI), eg. alternative labels as properties #}
                {% if propval.lang == request.contentLang or propval.lang == null or not request.contentLang and propval.lang == request.lang %}{% if propval.hasXlProperties %}<span class="reified-property-value xl-label"><img src="resource/pics/about.png"></span><div class="reified-tooltip">{% for key, val in propval.getXlProperties %}{% if key != 'rdf:type' and key != 'skosxl:literalForm' and val != '' %}<p>{{ key|trans }}: <span class="versal">{{ val }}</span></p>{% endif %}{% endfor %}</div>{% endif %}<span{% if property.type == 'skos:altLabel' %} class="replaced"{% endif %}>{% if propval.containsHtml %}{{ propval.label|raw }}{% else %}{{ propval.label }}{% endif %}{% if propval.lang and (request.contentLang and propval.lang != request.contentLang or explicit_langcodes) %} ({{ propval.lang }}){% endif %}</span>
                {% endif %}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        </div></div></div>
        {% endif %}
      {% endfor %}
      {% set foreignLabels = concept.foreignLabels %}
      {% if foreignLabels %}
      <div class="row property prop-other-languages">
        <div class="property-label"><h3 class="versal property-click" title="{% trans "foreign prefLabel help" %}" >{{ 'foreign prefLabels'|trans|upper }}</h3></div>
        <div class="property-value-column">
          <div class="property-value-wrapper">
            <ul>
              {% for language,labels in foreignLabels %}
              {% for value in labels.prefLabel|default([])|merge(labels.altLabel|default([])) %}
              <li class="row other-languages{% if loop.first %} first-of-language{% endif %}">
                <div class="col-xs-6 versal{% if value.type == "skos:altLabel" %} replaced{%else %} versal-pref{% endif %}">
                  {% if value.hasXlProperties %}
                  <span class="reified-property-value xl-label"><img src="resource/pics/about.png"></span>
                  <div class="reified-tooltip">{% for key, val in value.getXlProperties %}{% if key != 'rdf:type' and key != 'skosxl:literalForm' and val != '' %}<p>{{ key|trans }}: <span class="versal">{{ val }}</span></p>{% endif %}{% endfor %}</div>
                  {% endif %}
                  {% if value.type == "skos:prefLabel" and value.lang in request.vocab.config.languages %}
                  <a href='{{ concept.uri|link_url(request.vocabid,request.lang, 'page', value.lang) }}' hreflang='{{ value.lang }}'>{{ value.label }}</a>
                  {% else %}{{ value.label }}
                  {% endif %}
                </div>
                <div class="col-xs-6 versal">{% if loop.first %}<p>{{ language }}</p>{% endif %}</div>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
        <div class="row property prop-uri">
            <div class="property-label"><h3 class="versal">URI</h3></div>
            <div class="property-value-column"><div class="property-value-wrapper"><span class="versal uri-input-box" id="uri-input-box">{{ concept.uri }}</span> <button type="button" data-toggle="tooltip" data-placement="button" title="Copy to clipboard" class="btn btn-default btn-xs copy-clipboard" for="#uri-input-box"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button></div></div>
        </div>
        <div class="row">
            <div class="property-label"><h3 class="versal">{% trans %}Download this concept in SKOS format:{% endtrans %}</h3></div>
            <div class="property-value-column">
<span class="versal concept-download-links"><a href="rest/v1/{% if concept.vocab %}{{ concept.vocab.id }}{% else %}{{ vocab.id }}{% endif %}/data?uri={{ concept.uri|url_encode }}&amp;format=application/rdf%2Bxml">RDF/XML</a>
          <a href="rest/v1/{% if concept.vocab %}{{ concept.vocab.id }}{% else %}{{ vocab.id }}{% endif %}/data?uri={{ concept.uri|url_encode }}&amp;format=text/turtle">
            TURTLE</a>
          <a href="rest/v1/{% if concept.vocab %}{{ concept.vocab.id }}{% else %}{{ vocab.id }}{% endif %}/data?uri={{ concept.uri|url_encode }}&amp;format=application/ld%2Bjson">JSON-LD</a>
        </span>{% if concept.date %}<span class="versal date-info">{{ concept.date }}</span>{% endif %}
            </div>
        </div>
      </div>
      <!-- appendix / concept mapping properties -->
      <div
          class="concept-appendix hidden"
          data-concept-uri="{{ concept.uri }}"
          data-concept-type="{{ concept.type[0] }}"
          >
      </div>
    </div>
    {% endfor %}

  {% else %}
  <div class="alert alert-danger">
    <p>{% trans %}Error: Term "{{ term }}" not found in vocabulary!{% endtrans %}</p>
  </div>
  {% endif %}
{% else %}
  <div class="alert alert-danger">
    <p>{% trans %}Error: Requested vocabulary not found!{% endtrans %}</p>
  </div>
{% endif %}

{% verbatim %}
<template id="property-mappings-template">
    {{#each properties}}
    <div class="row{{#ifDeprecated concept.type 'skosext:DeprecatedConcept'}} deprecated{{/ifDeprecated}} property prop-{{ id }}">
        <div class="property-label"><h3 class="versal{{#ifNotInDescription type description}} property-click" title="{{ description }}{{/ifNotInDescription}}">{{toUpperCase label}}</h3></div>
        <div class="property-value-column">
            {{#each values }} {{! loop through ConceptPropertyValue objects }}
            {{#if prefLabel }}
            <div class="row">
                <div class="col-xs-5">
                    <a class="versal" href="{{hrefLink}}">{{#if notation }}<span class="versal">{{ notation }} </span>{{/if}}{{ prefLabel }}</a>
                    {{#ifDifferentLabelLang lang }}<span class="propertyvalue"> ({{ lang }})</span>{{/ifDifferentLabelLang}}
                </div>
                {{#if vocabName }}
                    <span class="appendix-vocab-label col-xs-7">{{ vocabName }}</span>
                {{/if}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/each}}
</template>
{% endverbatim %}
