{% extends "light.twig" %}

{% block title %}: {% trans "Feedback" %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block headernav %}{% endblock %}
{% block content %}
<div class="feedback-logo">
  <h1>{% trans "Feedback" %}</h1>
</div>
<div class="container feedback-box">
  <div class="" id="feedback-form">
    {% if feedback_sent %}
    <h3>{% trans "Feedback has been sent!" %}</h3>
    <p class="feedback-thanks">{% trans "Thank you for your feedback" %}<p>
    {% else %}
    <span class="versal">{% trans %}Contact us!{% endtrans %}</span>
    <div id="feedback-content">
      <form id="feedback-fields" method="post" action="{% if request.vocab %}{{request.vocab.id}}/{% endif %}{{ request.lang }}/feedback">
        {% if vocabList %}
        <input id="feedback-vocid-input" name="vocab" type="hidden"{% if request.vocabid %} value="{{ request.vocabid }}"{% endif %}>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="feedback-vocid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% if request.vocabid %}{{ request.vocab.title }}{% else %}{% trans %}Not to a specific vocabulary{% endtrans %}{% endif %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">{% trans %}Not to a specific vocabulary{% endtrans %}</a></li>
            {% for option in vocabList %}<li><a href="#" data-vocid="{{ option.id }}">{{ option.title }}</a></li>{% endfor %}
          </ul>
        </div>
        {% endif %}
        <p>{% trans "feedback_enter_name_email" %}</p>

        <p>{% trans %}Name:{% endtrans %}</p>
        <input id="name" class="form-control" type ="text" size="40" name="name" placeholder="{% trans %}Enter your name{% endtrans %}">
        <p>{% trans %}E-mail:{% endtrans %}</p>
        <input id="email" class="form-control" type ="text" size="40" name="email" placeholder="{% trans %}Enter your e-mail address{% endtrans %}">
        <p>{% trans %}Subject:{% endtrans %}</p>
        <input id="msgsubject" class="form-control" type ="text" size="40" name="msgsubject" placeholder="{% trans %}Write a subject{% endtrans %}">
        <p>{% trans %}Message:{% endtrans %} *</p>
        <textarea id="message" class="form-control" name="message"></textarea>
        {{ honeypot.generate('item-description', 'user-captcha')|raw }}
        <button type="submit" class="btn btn-primary" id="send-feedback">{% trans %}Send feedback{% endtrans %}</button>
      </form>
    {% endif %}
    </div>
  </div>
  {% if not feedback_sent %}<p>* {% trans %}Value is required and can not be empty{% endtrans %}</p>{% endif %}
</div>
{% endblock %}
