{% extends "light.twig" %}

{% block title %}: {{ vocab_id|upper }}: {% trans "Group index" %}{% endblock %}

{% block sidebar %}
<div class="sidebar-buttons">
  <ul class="nav nav-tabs">
    <li id="alpha"><a href="{{ path_fix }}{{ vocab_id }}/{{ lang }}/index">{% trans "Alpha-nav" %}</a></li>
    {% if search_results|length == 1 or vocab.showHierarchy %}
    <li id="hierarchy"><a href="#" id="hier-trigger">{% trans "Hier-nav" %}</a></li>
    {% endif %}
    {% if vocab.groupClassURI %}
    <li id="groups" class="active"><a href="{{ path_fix }}{{ vocab_id }}/{{ lang }}/groups">{% trans "Group-nav" %}</a></li>
    {% else %}
    {% endif %}
  </ul>
</div>

<div class="sidebar-grey">
  <div class="group-container">
    <ul class="group-index">
      {% for uri, label in groups %}
      <li><a href="{{ uri | link_url(vocab,lang,'groups') }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}
