{% extends "light.twig" %}

{% block title %}: {{ vocab.shortName }}: {% trans "Group index" %}{% endblock %}

{% block sidebar %}
<div class="sidebar-buttons">
  <ul class="nav nav-tabs{% if vocab.showChangeList and vocab.groupClassURI %} nav-four-wide{% endif %}">
    <li id="alpha"><a href="{{ request.vocabid }}/{{ request.lang }}/index{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% if vocab.showChangeList and vocab.groupClassURI %}A-Z{% else %}{% trans "Alpha-nav" %}{% endif %}</a></li>
    <li id="hierarchy{% if not vocab.showHierarchy %}-disabled{% endif %}"><a href="#" id="hier-trigger">{% trans "Hier-nav" %}</a></li>
    {% if vocab.groupClassURI %}
    <li id="groups" class="active"><a href="{{ request.vocabid }}/{{ request.lang }}/groups{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Group-nav" %}</a></li>
    {% endif %}
    {% if vocab.showChangeList %}
    <li id="changes"><a href="{{ request.vocabid }}/{{ request.lang }}/new{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Changes-nav" %}</a></li>
    {% endif %}
  </ul>
</div>

<div class="sidebar-grey">
  <div class="group-hierarchy">
  </div>
</div>
{% endblock %}

{% block content %}
  {% if stats %}
    {% include "vocab-shared.twig" %}
  {% endif %}
{% endblock %}
