{% extends "light.twig" %}

{% block title %}: {{ vocab.shortName }}: {% trans "Group index" %}{% endblock %}

{% block sidebar %}
<div class="sidebar-buttons">
  <ul class="nav nav-tabs">
    <li id="alpha"><a href="{{ request.vocabid }}/{{ request.lang }}/index{% if request.contentLang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Alpha-nav" %}</a></li>
    {% if search_results|length == 1 or vocab.showHierarchy %}
    <li id="hierarchy"><a href="#" id="hier-trigger">{% trans "Hier-nav" %}</a></li>
    {% endif %}
    {% if vocab.groupClassURI %}
    <li id="groups" class="active"><a href="{{ request.vocabid }}/{{ request.lang }}/groups{% if request.contentLang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Group-nav" %}</a></li>
    {% else %}
    {% endif %}
  </ul>
</div>

<div class="sidebar-grey">
  <div class="group-container">
    <ul class="group-index">
      {% for uri, value in groups %}
      <li><a href="{{ uri | link_url(vocab, request.lang, request.page, request.contentLang) }}">{{ value.label }}</a>
        {% if value.children %}{% for childuri,childlabel in value.children %}<li class="sub-group"><a href="{{ childuri | link_url(vocab, request.lang, request.page, request.contentLang) }}">{{ childlabel }}</a></li>{% endfor %}{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  {% if stats %}
    {% include "vocab-shared.twig" %}
  {% endif %}
{% endblock %}
