{% if request.vocabid is defined %}
<div class="header-left">
  <h1><a href="{% if request.vocabid != '' %}{{ request.vocabid  }}/{% endif %}{{ request.lang }}/{% if request.contentLang %}?clang={{ request.contentLang }}{% endif %}">{{ request.vocab.title(request.contentLang) }}</a></h1>
</div>
{% endif %}
<div class="header-float">
{% if request.page != 'About' and request.page != 'Feedback' %}
  
  {% if request.page != '' %}<div class="search-vocab-text"><p>{% trans "Content language" %}</p></div>{% endif %}
  {% if vocab_list is defined %}
    <select class="multiselect" multiple="multiple">
    {% for vocabClassName,vocabArray in vocab_list %}
      {% for vocab in vocabArray %}
      <option value="{{ vocab.id }}" data-voc-shortname="{{ vocab.shortname }}" data-label="{{ vocab.title }}" title="{{ vocab.title }}">{{ vocab.shortname }}</option>
      {% endfor %}
    {% endfor %}
    </select>
  {% endif %}
  <form class="navbar-form" role="search" name="text-search" action="{% if request.vocabid != '' %}{{ request.vocabid }}/{% endif %}{{ request.lang }}/search">
    <input style="display: none" name="clang" value="{% if request.contentLang %}{{ request.contentLang }}{% else %}{{ lang }}{% endif %}" id="lang-input">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="lang-dropdown-toggle">{% trans "Language literal" %}</button>
        <ul class="dropdown-menu">
        {% if request.vocab %}
          {% for langcode in request.vocab.languages %}
          <li><a href="{{ request.uri | link_url(request.vocabid,request.lang,request.page,langcode,term,letter) }}" class="lang-button" hreflang="{{ langcode }}">{{ langcode | lang_name(request.lang) }}</a></li>
          {% endfor %}
        {% else %}
          {% for langcode in lang_list %}
          <li><a href="{{ request.lang }}/{{ request.page }}?clang={{langcode}}{% if term %}&q={{ term }}{% endif %}{% if vocabs %}&vocabs={{ vocabs }}" {% endif %}class="lang-button" hreflang="{{ langcode }}">{{ langcode | lang_name(request.lang) }}</a></li>
          {% endfor %}
        {% endif %}
          <li><a href="{% if request.vocabid %}{{ request.vocabid }}/{% endif %}{% if request.page %}{{ request.page }}/{% endif%}?{% if request.uri %}uri={{ request.uri }}&{% endif %}clang={% if request.contentLang %}{{ request.contentLang }}{% else %}{{ request.lang }}{% endif %}&anylang=on{% if term %}&q={{ term }}{% endif %}{% if vocabs %}&vocabs={{ vocabs }}{% endif %}" class="lang-button lang-button-all">{% trans "Search language: any" %}</a><input name="anylang" type="checkbox"{% if request.queryparam('anylang') %} checked{% endif%}></input></li>
        </ul>
      </div><!-- /btn-group -->
      <input id="search-field" type="text" class="form-control" name="q" value="{{ term }}">
      <div class="input-group-btn">
        <button id="search-all-button" type="submit" class="btn btn-primary">{% trans "Search" %}</button>
      </div>
    </div>
    <div id="search-from-all-vocabularies-radio-buttons">
      <input type="radio" name="all" id="all-languages-false" value="0"
      onClick="createCookie('SKOSMOS_SEARCH_ALL', this.value , 365);" />
      <input type="radio"
      id="all-languages-true" name="all" value="1"
      onClick="createCookie('SKOSMOS_SEARCH_ALL', this.value , 365);" />
    </div>
    {% if request.page == '' or request.page == 'search' %}<input id="selected-vocabs" type="text" name="vocabs">{% endif %}
  </form>
{% endif %}
</div>
