<!DOCTYPE html>
<html dir="ltr" lang="{{ lang }}">
<head>
<base href="{{ CurrentUrl }}">
{% include 'meta.twig' %}
<link href="{{ path_fix }}resource/css/styles.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="{{ path_fix }}vendor/twitter/bootstrap/dist/css/bootstrap.min.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="{{ path_fix }}resource/css/bootstrap-multiselect.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="{{ path_fix }}resource/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link href="{{ path_fix }}resource/css/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
{% if ServiceCustomCss %}
<link href="{{ path_fix }}{{ ServiceCustomCss }}" media="screen, print" rel="stylesheet" type="text/css">
{% endif %}


{% include 'footer.inc' ignore missing %}
<title>{{ ServiceName }}{% block title %}{% endblock %}</title>
</head>
<body{% if vocab_id == '' and vocab_id != 'feedback' and vocab_id != 'about' %} class="frontpage-logo"{% endif %}>
  {% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %}<div class="topbar-white">{% endif %}
    <div class="topbar{% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %} topbar-white{% else %} frontpage{% endif %}">
      {% include 'topbar.twig' %}
    </div>
  {% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %}</div>{% endif %}
  {% block headernav %}
  <div class="headerbar{% if vocab_id == '' or global_search %} frontpage-spacing{% endif %}{% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %} headerbar-coloured{% endif %}">
    {% include 'headerbar.twig' %}
  </div>
  {% endblock %}
  <section{% if vocab_id == '' or global_search %} class="frontpage"{% endif %}>
    {% if not vocab_id == '' %}
    <div id="sidebar">
    {% block sidebar %}
      {% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %}
      <div class="sidebar-buttons">
        <ul class="nav nav-tabs">
        {% if not term %}
          <li id="alpha"{% if search_results|length != 1 or (term and search_results|length == 1) %} class ="active"{% endif %}><a href="{{ path_fix }}{{ vocab_id }}/{{ lang }}/index">{% trans "Alpha-nav" %}</a></li>
          {% if search_results|length == 1 or vocab.showHierarchy %}
          <li id="hierarchy"{% if search_results|length == 1 and not term %} class ="active"{% endif %}><a href="#" id="hier-trigger">{% trans "Hier-nav" %}</a></li>
          {% endif %}
          {% if vocab.groupClassURI %}
          <li id="groups"><a href="{{ path_fix }}{{ vocab_id }}/{{ lang }}/groups">{% trans "Group-nav" %}</a></li>
          {% else %}
          {% endif %}
        {% else %}
          <li id="limit"><p>{% trans "Search options" %}</p></li>
        {% endif %}
        </ul>
      </div>
      {% if alpha_results or vocab_stats or letter %}
        <ul class="pagination">
        {% for letter in letters %} {# looping through all letters #}
          <li{% if search_letter == letter %} class="active"{% endif %}><a href="{{ path_fix }}{{ vocab_id }}/{{ lang }}/index/{{ letter }}">{{ letter }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}

      <div class="sidebar-grey {% if alpha_results %} sidebar-grey-alpha{% endif %}">
        <div id="alphabetical-menu">
          {% if alpha_results %}
            {% set previous = '' %}
            <ul class="list-group alphabetical-search-results side-navi">
              {% for key,value in alpha_results %}
              {% if all_letters == true %}
                {% set alpha = value.prefLabel|first %}{% if alpha != previous %}<li class="alphabet-header" name="{{ alpha }}"><h5>{{ alpha }}</h5></li>{% set previous = alpha %}{% endif %}
              {% endif %}
              <li>
              {% if value.altLabel %}
              {{ value.altLabel }} 	&rarr; <a href="{{ value.uri | link_url(vocab,lang) }}">{{ value.prefLabel }}</a>
              {% else %}
              <a href="{{ value.uri | link_url(vocab,lang) }}">{{ value.prefLabel }}</a>
              {% endif %}
             </li>
              {% endfor %}
            </ul>
            {% elseif not search_results %}<span class="header-text-small-font">{% trans %}Error: the vocabulary does not contain terms beginning with "{{ letter }}"!{% endtrans %}</span>
          {% endif %}
        </div>
        {% if term %}
        <form class="search-options">
          <div class="input-group">
            <span class="versal">{% trans "By type" %}</span>
            <select id="type-limit" value="{{ limit-type }}" class="form-control multiselect">
              <option></option>
              {% for uri,type in types %}
                <option value="{{ uri }}">{{ type.label }}</option>
              {% endfor %}
            </select>
          </div>
          {% if vocab.groupClassURI %}
          <div class="input-group">
            <span class="versal">{% trans "By group" %}</span>
            <select id="group-limit" value="{{ limit-group }}" class="form-control multiselect">
              <option></option>
              {% for uri,group in group_index %}
                <option value="{{ uri }}">{{ group }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          <div class="input-group">
            <span class="versal">{% trans "By parent" %}</span><input type="text" id="parent-limit" class="form-control" value="{{ limit_parent }}">
          </div>
          <button type="button submit" class="btn btn-default">{% trans "Limit search" %}</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    {% endblock %}
  {% endif %}

    </div>
    {% if vocab_id == '' and vocab_id != 'feedback' and vocab_id != 'about' and not global_search %}
      {% include 'left.inc' ignore missing %}
      {% include 'vocabularylist.twig' %}
    {% endif %}
    <div class="{% if global_search %}global-{% endif %}content">
    {% block content %}
    {% endblock %}
    </div>
    {% if vocab_id == '' and not global_search %}
      {% include 'right.inc' ignore missing %}
    {% endif %}
    <footer id="footer"></footer>
  </section>
  {% include 'scripts.twig' %}
</body>
</html>
