<!DOCTYPE html>
<html dir="ltr" lang="{{ request.lang }}">
<head>
<base href="{{ BaseHref }}">
<link rel="shortcut icon" href="favicon.ico">
{% include 'meta.twig' %}
<link href="vendor/components/jqueryui/themes/cupertino/jquery-ui.min.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="vendor/twitter/bootstrap/dist/css/bootstrap.min.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="vendor/vakata/jstree/dist/themes/default/style.min.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="vendor/davidstutz/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="resource/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link href="resource/css/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
<link href="resource/css/fira.css" media="screen, print" rel="stylesheet" type="text/css">
<link href="resource/css/styles.css" media="screen, print" rel="stylesheet" type="text/css">
{% if ServiceCustomCss %}
<link href="{{ ServiceCustomCss }}" media="screen, print" rel="stylesheet" type="text/css">
{% endif %}
{% for plugin, files in request.plugins.pluginsCSS %}{% for file in files %}<link href="{{ file }}" media="screen, print" rel="stylesheet" type="text/css">{% endfor %}{% endfor %}

<title>{{ ServiceName }}{% block title %}{% endblock %}</title>
</head>
<body{% if request.vocabid == '' and request.page != 'feedback' and request.page != 'about' %} class="frontpage-logo"{% else %} class="vocab-{{ request.vocabid }}"{% endif %}>
  <a id="skiptocontent" href="{{ request.langurl }}#maincontent">{% trans "Skip to main" %}</a>
  {% if request.vocabid != '' or request.page == 'feedback' or request.page == 'about' %}<div class="topbar-white">{% endif %}
    <div class="topbar{% if request.vocabid != '' or request.vocabid == 'feedback' or request.vocabid == 'about' %} topbar-white{% else %} frontpage{% endif %}">
      {% include 'topbar.twig' %}
    </div>
  {% if request.vocabid != '' or request.page == 'feedback' or request.page == 'about' %}</div>{% endif %}
  {% block headernav %}
  <div class="headerbar{% if request.vocabid == '' or global_search %} frontpage-spacing{% endif %}">
    {% include 'headerbar.twig' %}
  </div>
  {% endblock %}
  <div class="main-container{% if request.vocabid == '' or global_search %} frontpage{% if list_style %} {{ list_style }}{% endif %}{% endif %}">
    {% if not request.vocabid == '' %}
    <div id="sidebar">
    {% block sidebar %}
      {% if request.vocabid != '' or request.page == 'feedback' or request.page == 'about' %}
      <div class="sidebar-buttons">
        <h2 class="sr-only">{% trans "Sidebar listing: assort and traverse vocabulary contents by a criteria" %}</h2>
        <ul class="nav nav-tabs{% if vocab.config.showChangeList and vocab.config.groupClassURI and vocab.config.showAlphabeticalIndex %} nav-four-wide{% endif %}">
        {% if request.page != 'search' %}
          {% if request.vocab.config.showAlphabeticalIndex %}
          <h3 class="sr-only">{% trans "Assort vocabulary concepts alphabetically" %}</h3>
          <li id="alpha"{% if search_results|length != 1 or (term and search_results|length == 1) %} class ="active"{% endif %}><a href="{{ request.vocabid }}/{{ request.lang }}/index{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% if vocab.config.showChangeList and vocab.config.groupClassURI %}{% trans'A-Z'%}{% else %}{% trans "Alpha-nav" %}{% endif %}</a></li>
          {% endif %}
          {% set disabledHierarchy = not vocab.config.showHierarchy and not search_results|length == 1 %}
          <h3 class="sr-only">{% trans "Assort vocabulary concepts hierarchically" %}</h3>
          <li id="hierarchy
            {%- if disabledHierarchy %}-disabled{% endif -%}
            "
            {% if search_results|length == 1 and not term %} class="active"{% endif %}
          >
            <a href="#" id="hier-trigger"
            {% if disabledHierarchy%} title="{% trans 'hierarchy-disabled-help' %}"{% endif %}
            >{% trans "Hier-nav" %}
            </a>
          </li>
          {% if vocab.config.groupClassURI %}
          <h3 class="sr-only">{% trans "Assort vocabulary concepts and groupings hierarchically" %}</h3>
          <li id="groups"><a href="{{ request.vocabid }}/{{ request.lang }}/groups{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Group-nav" %}</a></li>
          {% endif %}
          {% if vocab.config.showChangeList %}
            <h3 class="sr-only">{% trans "Assort vocabulary concepts by most recent changes" %}</h3>
            <li id="changes"><a href="{{ request.vocabid }}/{{ request.lang }}/new{% if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif %}">{% trans "Changes-nav" %}</a></li>
          {% endif %}
        {% else %}
          <li id="limit"><p>{% trans "Search options" %}</p></li>
        {% endif %}
        </ul>
      </div>
      {% if letters %}
        <h4 class="sr-only">{% trans "Choose alphabetical listing letter" %}</h4>
        <ul class="pagination">
        {% for letter in letters %} {# looping through all letters #}
          <li
            {% if letter == request.letter %} class="active"{% endif %}
          >
            <a href="{{ request.vocabid }}/{{ request.lang }}/index/{{ letter }}
              {%- if request.contentLang != request.lang %}?clang={{ request.contentLang }}{% endif -%}
            "><span class="sr-only">{{ letter | lower }}</span><span aria-hidden=true>{{ letter }}</span></a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

      {% if request.page != 'search' %}
      <h4 class="sr-only">{% trans "Listing vocabulary concepts alphabetically" %}</h4>
      {% endif %}
      <div class="sidebar-grey {% if alpha_results %} sidebar-grey-alpha{% elseif search_results|length == 1 and not term %} concept-hierarchy{% endif %}">
        <div id="alphabetical-menu">
          {% if alpha_results %}
            {% set previous = '' %}
            <ul class="list-group alphabetical-search-results side-navi">
              {% for key,value in alpha_results %}
              {% if all_letters == true %}
                {% set alpha = (value.altLabel ?? value.prefLabel)|upper|first %}
                {% if alpha != previous %}
                <li class="alphabet-header" name="{{ alpha }}">
                  <h5 class="sr-only">{{ alpha | lower }}</h5>
                  <h5 aria-hidden=true>{{ alpha }}</h5>
                </li>
                {% set previous = alpha %}
                {% endif %}
              {% endif %}
              <li>
              {% if value.altLabel %}
              {% set prefLabelAltogether = value.prefLabel ~ (value.qualifier ? ' (' ~ value.qualifier ~ ')' : "") %}
              <span aria-hidden=true><span class="replaced">{{ value.altLabel }}</span>	&rarr;</span>
              <a href="{{ value.uri | link_url(vocab,request.lang,'page',request.contentLang) }}"><span class="sr-only">{{ value.altLabel}} {% trans "Prefer using" %} {{ prefLabelAltogether}}</span><span aria-hidden=true>{{prefLabelAltogether}}</span></a>
              {% else %}
              <a href="{{ value.uri | link_url(vocab,request.lang,'page',request.contentLang) }}">{{ value.prefLabel }}{% if value.qualifier %} ({{ value.qualifier }}){% endif %}</a>
              {% endif %}
             </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% if request.page == 'search' %}
        <form class="search-options">
          {% set conceptSchemes = vocab.conceptSchemes %}
          {% if conceptSchemes|length > 1 %}
          <div class="input-group">
            <span class="versal">{% trans "By scheme" %}</span>
            <select id="scheme-limit" value="{{ limit-scheme }}" class="form-control multiselect" multiple="multiple">
              {% for uri,scheme in conceptSchemes %}
                <option value="{{ uri }}">{% if scheme.prefLabel %}{{ scheme.prefLabel }}{% elseif scheme.label %}{{ scheme.label }}{% elseif scheme.title %}{{ scheme.title }}{% else %}{{ uri|trans }}{% endif %}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          {% if types|length > 1 %}
          <div class="input-group">
            <span class="versal">{% trans "By type" %}</span>
            <select id="type-limit" value="{{ limit-type }}" class="form-control multiselect" multiple="multiple">
              {% for uri,type in types %}
                <option value="{{ uri }}">{% if type.label %}{{ type.label }}{% else %}{{ uri|trans }}{% endif %}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          {% if vocab.config.groupClassURI %}
          <div class="input-group">
            <span class="versal">{% trans "By group" %}</span>
            <select id="group-limit" value="{{ limit-group }}" class="form-control multiselect">
              <option></option>
              {% for uri,group in group_index %}
                <option value="{{ group.uri }}">{{ group.prefLabel }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          <div class="input-group">
            <span class="versal">{% trans "By parent" %}</span><input type="text" id="parent-limit" class="form-control" value="{{ limit_parent }}">
          </div>
          <button type="button submit" class="btn btn-default">{% trans "Limit search" %}</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    {% endblock %}
    </div>
    {% endif %}

    {% if request.vocabid == '' and request.page != 'feedback' and request.page != 'about' and not global_search %}
      {% include 'left.inc' ignore missing %}
    {% endif %}
    {% block error %}
    <main id="maincontent" tabindex="-1">
      {% if request.vocabid == '' and request.page != 'feedback' and request.page != 'about' and not global_search %}
        {% include 'vocabularylist.twig' %}
      {% endif %}
      <div class="{% if global_search %}global-{% elseif request.page == 'vocab' and not request.vocab.config.showAlphabeticalIndex and not request.vocab.config.showTopConcepts and not request.vocab.config.showChangeList %}wide-{% endif %}content">
      {% block content %}
      {% endblock %}
      </div>
    </main>
    {% endblock %}
    {% if request.vocabid == '' and not global_search and request.page != 'feedback' and request.page != 'about' %}
      {% include 'right.inc' ignore missing %}
    {% endif %}
    <footer id="footer"></footer>
  </div>
  {% include 'scripts.twig' %}
  {% include 'footer.inc' ignore missing %}
  {% for id, template in request.plugins.templates %}<script id="{{ id }}" type="text/x-handlebars-template">{{ template|raw }}</script>{% endfor %}
</body>
</html>
