<a {% if vocab_id == '' %}id="service-logo"{% endif %} {% if vocab_id != '' or vocab_id == 'feedback' or vocab_id == 'about' %}class="service-{{ lang }}" {% endif %}href="{{ path_fix }}{{ lang }}/"><h1 id="service-name">{% if ServiceName is defined  %}{{ ServiceName }}{% else %}Skosmos{% endif %}</h1></a>
<div id="language"><span class="navigation-font">|</span>
  {% for langcode, langdata in languages %}
  {% if lang != langcode %}
  <a id="language-{{ langcode}}" class="navigation-font" href="http://{{ request_uri|replace({("/#{lang}/"): "/#{langcode}/"}) }}"> {{langdata.name}}</a>
  {% endif %}
  {% endfor %}
</div>
<div id="navigation">
  <a href="{{ path_fix }}{{ lang }}/" id="navi1" class="navigation-font" >
  {% trans "Vocabularies-nav" %}
  </a>
  <a href="{{ path_fix }}{{ lang }}/about" id="navi3" class="navigation-font">
  {% trans "About page" %}
  </a>
  <a href="{{ path_fix }}{% if vocab_id and vocab.title%}{{ vocab_id }}/{% endif %}{{ lang }}/feedback" id="navi4" class="navigation-font">
  {% trans "Feedback" %}
  </a>
</div>

<!-- top-bar ENDS HERE -->
