<div class="container">
  <div id="vocab-info">
    <div>
      <h1>{% trans "Vocabulary information" %}</h1>
      <hr />
    </div>
    {% set vocabInfo = vocab.info(request.contentLang) %}
    {% if not vocabInfo %}
    <div class="alert alert-danger" role="alert">
        {% trans "Failed to retrieve vocabulary information" %}
    </div>
    {% else %}
    <div class="vocab-info-literals">
      <table class="table">
        {% for key, values in vocabInfo %}
        {% set keytrans = key %}
        <tr>
          <th class="versal">{{ keytrans|trans|upper }}</th>
          <td class="versal">
            {% for val in values %}
            <div>{% if val.get('skosmos:vocab') %}<a href="{{ val.uri | link_url(val.get('skosmos:vocab').value,request.lang,'page',request.contentLang) }}">{{ val.get('skosmos:label') }}</a>{% elseif val.label %}<a href="{{ val.uri }}">{% if val.label(request.contentLang) %}{{ val.label(request.contentLang) }}{% else %}{{ val.label }}{% endif %}</a>{% elseif val matches '|^(https?://)|' %}<a href="{{ val }}">{{ val }}</a>{% elseif val matches '|<\\w*\\b[^>]*>|' %}{{ val|raw|nl2br }}{% else %}{{ val|nl2br }}{% endif %}</div>
            {% endfor %}
          </td>
        </tr>
        <tr><td class="property-divider"></td></tr>
        {% endfor %}
        <tr>
          <th class="versal">URI</th>
          <td class="versal"><span class="uri-input-box">{{ vocab.defaultConceptScheme }}</span></td>
        </tr>
      </table>
    </div>
    {% endif %}
    {% if vocab.config.showStatistics %}
    <div>
      <h2>{% trans "Resource counts by type" %}</h2>
      <table class="table" id="counts">
        <tr><th class="versal">{% trans "Type" %}</th><th class="versal">{% trans "Count" %}</th></tr>
        <tr><td class="property-divider"></td></tr>
      </table>
      <h2>{% trans "Term counts by language" %}</h2>
      <table class="table" id="statistics">
      <tr>
        <th class="versal">{% trans "Concept language" %}</th>
        <th class="versal">{% trans "Preferred terms" %}</th>
        <th class="versal">{% trans "Alternate terms" %}</th>
        <th class="versal">{% trans "Hidden terms" %}</th>
      </tr>
      <tr><td class="property-divider"></td></tr>
      </table>
    </div>
    {% endif %}
    {% if vocab.config.dataURLs %}
    <div class="download-links">
      <span class="versal">{% trans %}Download this vocabulary:{% endtrans %}
        {% if 'application/rdf+xml' in vocab.config.dataURLs|keys %}
          <a href="rest/v1/{{ request.vocabid }}/data?format=application/rdf%2Bxml">RDF/XML</a>
        {% endif %}
        {% if 'text/turtle' in vocab.config.dataURLs|keys %}
          <a href="rest/v1/{{ request.vocabid }}/data?format=text/turtle">TURTLE</a>
        {% endif %}
        {% if 'application/marcxml+xml' in vocab.config.dataURLs|keys %}
            {% if vocab.config.dataURLs['application/marcxml+xml'] is iterable %}
                {% for key, values in vocab.config.dataURLs['application/marcxml+xml'] %}
                    <a href="rest/v1/{{ request.vocabid }}/data?format=application/marcxml%2Bxml&lang={{key}}">MARCXML/{{ key | lang_name(request.lang) }}</a>
                {% endfor %}
            {% else %}
                <a href="rest/v1/{{ request.vocabid }}/data?format=application/marcxml%2Bxml">MARCXML</a>
            {% endif %}
        {% endif %}
      </span>
    </div>
    {% endif %}
  </div>
</div>
