<div id="vocabulary-list">
  <div class="logo-header">
  {% if vocab_list is not defined or vocab_list|length == 0 %}
  <h2>{% trans "No vocabularies on the server!" %}</h2>
  {% else %}
  <h2>{% trans "Vocabularies on the server" %}</h2>
  </div>
  <div class="vocabularies">
    {% for vocabClassName,vocabArray in vocab_list %}
    <ul class="vocab-category">
      <li><h2>{{ vocabClassName|upper }}</h2></li>
      <ul>
      {% for vocab in vocabArray %}
        <li><a class="navigation-font" href="{{path_fix}}{{ vocab.id }}/{{ lang }}/">{{ vocab.title }}</a></li>
      {% endfor %}
      </ul>
    </ul>
    {% endfor %}
  </div>
  {% endif %}
</div>
